@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Cart</h1>

<div class="container">
    <hr />
    @if (Model != null)
    {
        @foreach (var lineitem in Model.LineItems)
        {
            <div class="card">
                <div class="card-body">
                    <h3>@lineitem.Product.Title</h3>
                    <h4>Quantity: <span>@lineitem.Units</span></h4>
                    <h4>Cost: $<span>@lineitem.Cost</span></h4>
                    <form asp-action="DeleteFromCart">
                        <input data-val="true"
                               data-val-number="The field ProductId must be a number."
                               data-val-required="The ProductId field is required."
                               id="ProductId"
                               name="ProductId"
                               type="hidden"
                               value="@lineitem.Product.ProductId" />
                        <input type="submit" value="Delete" class="btn btn-outline-danger text-danger" />
                    </form>
                </div>
            </div>
        }
        <div class="row justify-content-end">
            <div class="form-group">
                <label asp-for="PaymentTypeId" class="control-label">Choose A Payment Type</label>
                <select asp-for="PaymentTypeId" class="form-control" asp-items="@Model.PaymentOptions"></select>
            </div>
        </div>
        <form asp-action="PlaceOrder">
            <input data-val="true"
                   data-val-number="The field OrderId must be a number."
                   data-val-required="The OrderId field is required."
                   id="OrderId"
                   name="OrderId"
                   type="hidden"
                   value="@Model.Order.OrderId" />
            <div class="row justify-content-end mt-4">
                <input type="submit" class="btn btn-primary text-white" value="Place Order" />
            <a class="btn btn-outline-danger text-danger" asp-route-id="@Model.Order.OrderId" asp-action="Delete">Cancel Order</a>
            </div>
        </form>
    }
    else
    {
        <h2>There is nothing currently in your cart.</h2>
    }

</div>
